<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fonts.css">
    <style>
        body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
  small {
    font-size: 0.5em;
  }

.responsive-table {
}
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 15%;
  }
  .col-2 {
    flex-basis: 15%;
  }
  .col-3 {
    flex-basis: 20%;
  }
  .col-4 {
    flex-basis: 50%;
    word-wrap:break-word;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
    }
      col::before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
    </style>
</head>
<body>
    <h1 class="container">Admin Panel</h1>
    <ul class="responsive-table container">
        <li class="table-header">
          <div class="col col-1">Name</div>
          <div class="col col-2">Phone</div>
          <div class="col col-3">Email</div>
          <div class="col col-4">Message</div>
        </li>
        <% feedbacks.forEach(function (feedback) { %>
            <li class="table-row">
                <div class="col col-1" data-label="Job Id"><%= feedback.name %></div>
                <div class="col col-2" data-label="Customer Name"><%= feedback.phone %></div>
                <div class="col col-3" data-label="Amount"><%= feedback.email %></div>
                <div class="col col-4" data-label="Payment Status"><%= feedback.message %></div>
            </li>
          <% }); %>
        
    </ul>
</body>
</html>
