.Ourteam-text {
    background-image: url('../images/ourteam/Headerphoto.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.Ourteam-text p {
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 81px;
    text-transform: uppercase;
    color: #FFF500;
}

.Team {
    margin-top: -10vh;
    background-image: url('../images/ourteam/Mainback.png');
    background-size: contain;
    background-repeat: repeat;
    min-height: 70vh;
}

.people-1 {
    display: flex;
    flex-direction: row;
}

.people-1 img {
    width:25%;
}

.people-info-1 {
    width:50%;
}