.message-form {
    position: relative;
    top:50px;
    max-height: 710px;
    min-height: 709px;
    width: 100%;
    max-width:100%;
    left:0;
}

label {
    display: block;
    font-family: "DIN Pro";
    font-size:24px;
    text-transform: uppercase;
    font-weight: 300;
}

input {
    width:100%;
    height: 80px;
    padding-left:24px;
    font-family: "DIN Pro Regular";
    font-weight: 300;
    font-size:24px;
    padding-top: 25px;
    padding-bottom: 25px;
}

textarea {
    width:100%;
    height: 180px;
    padding-left:24px;
    font-family: "DIN Pro Regular";
    font-weight: 300;
    font-size:24px;
    padding-top: 5px;
    resize:none;
}

.message-btn{
    background-color: black;
    max-width: 230px;
    width:100%;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-top:10px;
    padding-bottom: 15px;
    font-family: "DIN Pro";
    font-weight: 900;
    font-size:24px;
    transition: all ease 0.5s;
}

.message-btn:hover {
    background: #FFF500;
    color: black;
    transition: cubic-bezier(1, 1, 0.5, 1) 0.5s;
}

.message-btn-1 {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 30px;
}

@media (max-width: 576px){
    .message-form{
        position: absolute;
        top: 2650px;
        max-height: 680px;
        min-height: 679px;
    }

    label {
        font-size:18px;
    }

    input {
        height:60px;
        font-size:18px;
        padding-left:12px;
    }

    textarea {
        margin-top:10px;
        height: 150px;
        font-size:18px;
        padding-left:12px;
    }
    .message-btn-1{
        justify-content: center;
    }
}

@media (min-width: 576px) and (max-width: 900px) {
    .message-form {
        top: 650px;
        max-height: 740px;
        min-height: 739px;
    }
    
    label {
        padding-top: 10px;
        font-size:22px;
    }
    input {
        font-size: 20px;
        padding-left:12px;
    }

    textarea {
        font-size:20px;
        padding-left: 12px;
    }

    .message-btn-1 {
        padding-top: 10px;
    }
}
